body {
	background-color: black;
	color: white;
}

form {
	display: inline-block;
	/* margin:32px 16px; */
}

input[type=text], input[type=password]
{
	border: none;
	border-bottom: 2px solid #6e547d;
  	background-color: black;
}

input[type=submit] {
	background-color: #6e547d;
	border: none;
	color: black;
  	padding: 8px 16px;
  	margin: 4px 2px;
  	cursor: pointer;
}

img {
	max-width: 90%;
	height: 50%;
}
